examples/Training_Stt_Tti.json
[{"id":"25dcf7ec.b4a7a","type":"voice2json-stt","z":"6417ff5b.9a455","name":"","voice2JsonConfig":"a66d83bd.16a7d8","inputField":"payload","controlField":"control","outputField":"payload","autoStart":true,"x":560,"y":260,"wires":[["5f00e6c8.1e3d88","5e75a86c.e42ac"]]},{"id":"5f00e6c8.1e3d88","type":"debug","z":"6417ff5b.9a455","name":"Show stt transcription text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":320,"wires":[]},{"id":"8cf148c3.67015","type":"http request","z":"6417ff5b.9a455","name":"get garage wav","method":"GET","ret":"bin","paytoqs":false,"url":"https://github.com/johanneskropf/node-red-contrib-voice2json/raw/master/wav/garage.wav","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":260,"wires":[["25dcf7ec.b4a7a"]]},{"id":"76c6224f.387de4","type":"inject","z":"6417ff5b.9a455","name":"Execute STT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["8cf148c3.67015"]]},{"id":"1b120720.986011","type":"inject","z":"6417ff5b.9a455","name":"start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["af1b7340.4ad75"]]},{"id":"492113af.7be51c","type":"inject","z":"6417ff5b.9a455","name":"stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["af1b7340.4ad75"]]},{"id":"15c8b2f0.8feee5","type":"voice2json-training","z":"6417ff5b.9a455","name":"","voice2JsonConfig":"a66d83bd.16a7d8","inputField":"payload","outputField":"payload","loadedProfile":"","x":370,"y":380,"wires":[["4d45d795.695fd8"]]},{"id":"fa9e2163.1e54e","type":"inject","z":"6417ff5b.9a455","name":"Start training","topic":"","payload":"train","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["15c8b2f0.8feee5"]]},{"id":"4d45d795.695fd8","type":"debug","z":"6417ff5b.9a455","name":"Training result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":380,"wires":[]},{"id":"af1b7340.4ad75","type":"change","z":"6417ff5b.9a455","name":"","rules":[{"t":"set","p":"control","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":200,"wires":[["25dcf7ec.b4a7a"]]},{"id":"5e75a86c.e42ac","type":"voice2json-tti","z":"6417ff5b.9a455","name":"","voice2JsonConfig":"a66d83bd.16a7d8","inputField":"payload.text","controlField":"control","outputField":"payload","autoStart":false,"x":760,"y":260,"wires":[["bcffb376.323e28"]]},{"id":"bcffb376.323e28","type":"debug","z":"6417ff5b.9a455","name":"show intent recognition result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":260,"wires":[]},{"id":"e9450019.4646b","type":"inject","z":"6417ff5b.9a455","name":"start","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":140,"wires":[["f245bb1.66522c8"]]},{"id":"ecb5fd9c.6dcd38","type":"inject","z":"6417ff5b.9a455","name":"stop","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":200,"wires":[["f245bb1.66522c8"]]},{"id":"f245bb1.66522c8","type":"change","z":"6417ff5b.9a455","name":"","rules":[{"t":"set","p":"control","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":200,"wires":[["5e75a86c.e42ac"]]},{"id":"e243e9dc.c626e","type":"http request","z":"6417ff5b.9a455","name":"get time wav","method":"GET","ret":"bin","paytoqs":false,"url":"https://github.com/johanneskropf/node-red-contrib-voice2json/raw/master/wav/time.wav","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":320,"wires":[["25dcf7ec.b4a7a"]]},{"id":"f1e87ec9.1106b8","type":"inject","z":"6417ff5b.9a455","name":"Execute STT","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["e243e9dc.c626e"]]},{"id":"7ea44cd6.5359c4","type":"comment","z":"6417ff5b.9a455","name":"Readme for this voice2json example flow","info":"This example flow shows the use of the voice2json train, stt and tti node.\nTo try everything please make sure to first download the english kaldi profile to your home folder from:\nhttps://github.com/synesthesiam/en-us_kaldi-zamia/archive/v2.0.tar.gz\nIf you should save the profile folder to a different location please edit the profile path in the config accordingly.\nBefore trying the stt and tti node you have to train the profile.\nFor detailed instructions please read the complete documentation at: https://github.com/johanneskropf/node-red-contrib-voice2json/blob/master/README.md & http://voice2json.org/","x":220,"y":80,"wires":[]},{"id":"a66d83bd.16a7d8","type":"voice2json-config","z":"","profilePath":"/home/pi/en-us_kaldi-zamia-2.0","name":"enUsKaldi","sentences":"[GetTime]\nwhat time is it\ntell me the time\n\n[GetTemperature]\nwhats the temperature\nhow (hot | cold) is it\n\n[GetGarageState]\nis the garage door (open | closed)\n\n[ChangeLightState]\nlight_name = ((living room lamp | garage light) {name}) | <ChangeLightColor.light_name>\nlight_state = (on | off) {state}\n\nturn <light_state> [the] <light_name>\nturn [the] <light_name> <light_state>\n\n[ChangeLightColor]\nlight_name = (bedroom light) {name}\ncolor = (red | green | blue) {color}\n\nset [the] <light_name> [to] <color>\nmake [the] <light_name> <color>","slots":[{"fileName":"rhasspy/number","managedBy":"external","fileContent":null,"executable":true}],"removeSlots":false}]
